bcrypt
boto
bs4
credstash
cryptography
flask
git+https://github.com/miracle2k/flask-assets.git@master#egg=flask-assets
flask-humanize
flask-migrate
flask-script
flask-security
flask-sqlalchemy
flask-wtf
gunicorn
jinja-to-js
libsass
git+https://github.com/alphagov/notifications-python-client.git@1.0.0#egg=notifications-python-client
psycopg2
pytest
pytest-cov
pytest-eradicate
pytest-flake8
pytest-flask
pytest-spec
pytest-splinter
python-jose
requests
