{% extends "admin/base.html" %}

{% block admin_content %}

  <h1 class="heading-xlarge">Admin options</h1>

  <p class="lede text">Use this page to find all the jobs you need to perform to make the Sue my brother service run smoothly for users.</p>

  <hr />

  <div>
    <h2 class="heading-medium flush--top">Suits</h2>
    <p>
      <a href="{{ url_for('base.admin_suits') }}" class="button">Review suits</a>
    </p>
  </div>

  <hr />

  <div>
    <h2 class="heading-medium flush--top">Notify options</h2>
    <a href="{{ config["GOVUK_NOTIFY"]["service_url"] }}/services/{{ config["GOVUK_NOTIFY"]["client_id"] }}/dashboard">Update email and sms templates</a>
  </div>
  <div>
    <a href="{{ url_for('base.reauthenticate', caller='admin') }}">Reauthenticate</a>
  </div>

  <hr />

  <div>
    <h2 class="heading-medium flush--top">Users</h2>
    <p>
      <a href="{{ url_for('base.admin_users') }}" class="button">Change user permissions</a>
    </p>
  </div>

{% endblock %}
