{% extends "admin/base.html" %}

{% block admin_content %}

  <h1 class="heading-large">Users</h1>

  <div class="grid-row section">
    <div class="column-full">

      <table class="suits">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Admin</th>
            <th>Can accept</th>
            <th>SuperAdmin</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <form method="post" action="{{ url_for('base.update_user', user=user.id) }}">
              <td><input name="name" value="{% if user.name %}{{ user.name }}{% endif %}"></td>
              <td><input name="email" value="{% if user.email %}{{ user.email }}{% endif %}"></td>
              <td><input name="mobile" value="{% if user.mobile %}{{ user.mobile }}{% endif %}"></td>
              <td>
                {% if can_make_admin %}
                <input name="admin" value="1" type="checkbox" {% if user.has_role('admin') %}checked="checked"{%- endif -%}>
                <input name="admin" value="" type="hidden">
                {% else %}
                  {%- if user.has_role('admin') %}✓{%- endif -%}
                {% endif %}
              </td>
              <td>
                {% if can_make_admin %}
                <input name="accept_suits" value="1" type="checkbox" {% if user.can_accept_suits %}checked="checked"{%- endif -%}>
                <input name="accept_suits" value="" type="hidden">
                {% else %}
                  {%- if user.can_accept_suits %}✓{%- endif -%}
                {% endif %}
              </td>
              <td>
                {% if can_make_admin %}
                <input name="superadmin" value="1" type="checkbox" {% if user.is_superadmin %}checked="checked"{%- endif -%}>
                <input name="superadmin" value="" type="hidden">
                {% else %}
                  {%- if user.is_superadmin %}✓{%- endif -%}
                {% endif %}
              </td>
              <td>
                <button class="secondary button">Update</button>
              </td>
            </form>
            <form method="post" action="{{ url_for('base.delete_user', user=user.id) }}">
              <td><button class="secondary button">Delete</button></td>
            </form>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>


{% endblock %}
