<div class="sign-out-container">
  {% if current_user.is_authenticated -%}

  {% if current_user.has_role('admin') -%}
  <span class="admin-user">Admin user</span>
  {% endif %}

  <h3 class="heading-small user-name">{{ current_user.name|default(current_user.email) }}</h3>
  <div class="user-auth-status-container">
    <span class="user-auth-status">
      {% if auth_time -%}
      You last signed in <span class="auth-time" data-last-auth-time="{{ auth_time }}">{{ auth_time|prettydate }}</span>
      {% endif %}
      (<a href="{{ url_for_security('logout') }}">Sign out</a>)
      <div class="auth-msg auth-msg--warning">You'll need to <a href="{{ url_for('base.reauthenticate', caller='admin') }}">reauthenticate</a> soon</div>
      <div class="auth-msg auth-msg--reauth">You'll have to <a href="{{ url_for('base.reauthenticate', caller='admin') }}">reauthenticate</a> before performing certain actions</div>
    </span>
  </div>
  <span><a href="{{ url_for('base.details', action='edit') }}">Edit your details</a></span>

  {%- else -%}

  <a href="{{ url_for_security('login') }}">Sign in</a>

  {%- endif %}
</div>
