<div class="sign-out-container">
  {% if current_user.is_authenticated -%}

  <h3 class="heading-small user-name">{{ current_user.name|default(current_user.email) }}</h3>
  <div class="user-auth-status">
    You last signed in {{ session["iat"]|prettydate }}
    (<a href="{{ url_for_security('logout') }}">Sign out</a>)
  </div>
  <span><a href="{{ url_for('base.details', action='edit') }}">Edit your details</a></span>

  {%- else -%}

  <a href="{{ url_for_security('login') }}">Sign in</a>

  {%- endif %}
</div>
