{% extends "govuk_template/views/layouts/govuk_template.html" %}

{% block head %}

  {% assets "css_main" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <script src="/static/js/vendor/jquery/jquery.min.js"></script>

  {% block endhead %}{% endblock %}

{% endblock %}

{% block body_classes %}full-width{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Sue my brother</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="full-width-container">
    {% block top_banner %}
    <div class="grid-row">
    </div>
    {% endblock %}
  </div>

  <main id="wrapper" role="main">
    <div id="content">

      {% include "partial/_messages.html" %}

      {% include "partial/login_state.html" %}

      {% if current_user.has_role('admin') -%}
      <nav class="admin">
        Admin options:
        <a href="{{ url_for('base.admin') }}">Home</a> |
        <a href="{{ url_for('base.admin_suits') }}">Suits</a> |
        <a href="{{ url_for('base.admin_users') }}">Users</a>
      </nav>
      {%- endif %}

      {% block body_content %}{% endblock %}

    <hr>
    <div>
      <form action="{{ url_for('base.set_idp', caller=request.full_path) }}" method="post">
        OIDC provider: 
        <select name="idp" onchange="this.form.submit()">
          {% for key in oidc_providers %}
          <option value="{{ key }}" {% if key==idp() %}selected{% endif %}>{{ key.replace("_", " ").title() }}</option>
          {% endfor %}
        </select>
        <a href="{{ url_for('base.reauthenticate', caller=request.full_path) }}">reauthenticate</a>
      </form>
    </div>
    </div>
  </main>
{% endblock %}
