{% extends "base.html" %}

{% block body_content %}

  <h1 class="heading-large">Confirm your lawsuit details</h1>

  <p>Please review your details and confirm you wish to file the suit</p>

  <p class="">
    I, <strong>{{ suit.plaintiff.name }}</strong>, wish to sue my brother,
    <strong>{{ suit.defendant.name }}</strong>, for his actions of which we
    will not speak, but which were despicable and wrong.
  </p>

  <form action="{{ url_for('main.confirm') }}" method="post" class="form">
    <button class="button">Confirm</button>
  </form>

{% endblock %}
