{% extends "base.html" %}

{% block body_content %}

  <h1 class="heading-large">Sue My Brother</h1>
  <div class="text">
    <p class="lede">
      This service will guide you through raising a lawsuit against your brother.
    </p>
    <p>
      It will also allow you to keep track of all the lawsuits you have raised against your brothers, along with the respective status of each one.
    </p>
  </div>

  <hr />

  <div class="grid-row">
    <div class="column-half">
      <h2 class="heading-medium flush--top">I want to start suing</h2>
      <p>Do you want to sue your brother? Start creating the case against him now.</p>
    </div>
    <div class="column-half">
      <p>
        <a href="{{ url_for('base.details') }}" class="button">Sue him now</a>
      </p>
      <details>
        <summary>What you'll need to create a suit</summary>
        <div>You'll need his details and a credit or debit card to pay the &pound;1 processing fee.</div>
      </details>
    </div>
  </div>

  <hr />

  <div class="grid-row">
    <div class="column-half">
      <h2 class="heading-medium flush--top">I have an admin account</h2>
      <p>Sign in to review and approve cases</p>
    </div>
    <div class="column-half">
      <p>
        <a href="{{ url_for_security('login') }}" class="button">Sign in</a>
      </p>
    </div>
  </div>

  <hr />

  <div class="grid-row">
    <div class="column-half">
      <h2 class="heading-medium flush--top">I want an admin account</h2>
      <p>Register to start reviewing and approve cases.</p>
    </div>
    <div class="column-half">
      <p>
        <a href="" class="button">Register</a>
      </p>
      <details>
        <summary>What you'll need to create an account</summary>
        <div>You'll need a valid gov.uk email address, running from a Google account. More coming soon.</div>
      </details>
    </div>
  </div>


{% endblock %}
