{% extends "base.html" %}

{% block body_content %}

  <h1 class="heading-large">Status of your lawsuit</h1>

  <p>
    The lawsuit you filed 
    <strong class="bold-small">{{ suit.created|humanize() }}</strong>
    against your brother,
    <strong class="bold-small">{{ suit.defendant.name }}</strong>
    is currently:
  </p>

  <p class="panel">
    {%- if suit.accepted -%}
      Accepted for review
    {%- elif not suit.payment_id -%}
      Awaiting payment confirmation
    {%- else -%}
      Awaiting review
    {%- endif -%}
  </p>
  </li>

  <a href="{{ url_for('base.start_suit') }}" class="button">Start new suit</a>

{% endblock %}
